<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Flask with Bokeh</title>
    <style>
        html, body {
          box-sizing: border-box;
          display: flow-root;
          height: 100%;
          margin: 0;
          padding: 0;
        }
      </style>
       <style>
        .body_text
        {
            font-family:    Arial, Helvetica, sans-serif;
            font-size:      40px;
            font-weight:    bold;
    
        }
        </style>

        <!-- There should be a way to insert the current CDNs programmatically.  -->
      <script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-3.5.2.min.js"></script>
      <script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-3.5.2.min.js"></script>
      <script type="text/javascript">
          Bokeh.set_log_level("info");
      </script>
</head>
<body>
    <div, id="1001">
    {{ div | safe }}
    <div class="body_text"> This could use some explanation </div>
    {{ script | safe }}
</div>
</body>
</html>